<%= form_for (@stop) do |f| %>
  <div class="form-group">
    <%= f.label :station_id %>
    <%= f.collection_select :station_id, Station.all, :id, :name %>
  </div>
  <div class="form-group">
    <%= f.label :line_id %>
    <%= f.collection_select :line_id, Line.all, :id, :name %>
  </div>
  <%= f.submit(:class=>"btn btn-primary")%>
<% end %>
